# DTSC670: Foundations of Machine Learning Models

## Assignment 2: California Housing Prices Data Manipulation

### Name:


## CodeGrade
Note that this assignment will be automatically graded through CodeGrade and you will have unlimited submission attempts.  When submitting to CodeGrade, your notebook should be named `assignment2.ipynb` and there should be no errors in the file or CodeGrade will not be able to grade it.  Before submitting, I suggest that you restart your kernel and attempt to run all cells again to ensure that there will be no errors when CodeGrade runs your script.  

## Details

The purpose of this assignment is to hone your data wrangling skills.  It has been estimated that up to 80% of a Data Scientist's role is data cleaning and manipulation tasks to get the data ready for modeling/machine learning.  Your task for this assignment is to perform the data preparation steps as instructed below. 

In the "End-to-End Machine Learning" module, you will be working with the California Housing Prices dataset that is based on data from the 1990 California census.  This dataset is often used to practice building a model to predict housing prices.  I have downloaded the original data and made various changes to it.  Your job will be to clean and manipulate the data to get it back to the proper format.  

*Note that your final dataset will <b>not</b> match the dataset that we will use in the class module.  This is on purpose so that students cannot download the data from various online sources and pass it off as their "cleaned" data.* 

### Files and Data Dictionary

The files that you will be working with, and that can be found on Brightspace, are:

- <u>long_lat.csv</u>: longitude and latitude coordinates for all instances
- <u>cal_housing_low.csv</u>: instances with median house values in the lower 25% percentile
- <u>cal_housing_medium.csv</u>: instances with median house values between the lower and upper percentiles
- <u>cal_housing_high.csv</u>: instances with median house values in the upper 75% percentile
- <u>ocean_proximity.csv</u>: longitude and latitude coordinates along with their corresponding category 

The data dictionary for the columns in the files are:

- <u>id</u>: unique ID number for the respective district (also called block groups)
- <u>longitude</u>: longitude coordinates for the respective district
- <u>latitude</u>: latitude coordinates for the respective district
- <u>state</u>: US state for the respective district 
- <u>medianHouseValue</u>: median house value in the respective district (this will be the target or response variable)
- <u>housingMedianAge</u>: median house age in the respective district
- <u>totalBedrooms</u>: total bedrooms for all houses in the respective district
- <u>totalRooms</u>: total number of rooms for all houses in the respective district
- <u>households</u>: total households for all houses in the respective district
- <u>population</u>: total population for all houses in the respective district
- <u>medianIncome</u>: median income for households in the respective district
- <u>ocean_proximity</u>: categorical variable for each respective longitude and latitude pair  

### Data Cleaning
In order to clean the data, you will need to perform the following steps, although not necessarily in this order:
- Make sure that your notebook is organized and that you include specific comments that explain your code.  Assignments will be manually checked at the end of the course and points may be deducted for insufficient comments. (see Assignment Rubric)
- Use only base Python, Pandas, or NumPy for this assignment.  
- Combine the files together, as appropriate, so that you have one final DataFrame
- The final DataFrame must be named `housing`
- Sort the final `housing` DataFrame by `id` in ascending order
- Drop any rows with a missing value for the `medianHouseValue` column
- Fill any rows with a missing value for the `housingMedianAge` column with the median value for that column
- Drop the `state` column since it doesn't offer any added value
- In order to match the data that will be worked on in class, you will make the following changes to the values:
  - Scale the `medianIncome` to express the values in $10,000 of dollars (example: `150000` will become `15`, `30000` will become `3`, `15000` will become `1.5`, etc)
  - In your textbook, it discusses that the median income values have been capped on both the lower and upper ends.  In order to recreate this data, change any values in the `medianIncome` column that are `0.4999` or lower to `0.4999` and change any values that are `15.0001` and higher to `15.0001`.  This step should be done after the previous step.  Take a look at [this stackoverflow answer](https://stackoverflow.com/questions/38876816/change-value-of-a-dataframe-column-based-on-a-filter) if you need help with this step.
  - Revert the `medianHouseValue` back to actual dollars (example: `150` will become `150000`, `300` will become `300000`, etc)
- Update the column names and column order as shown below to match the data from the module:
  - longitude
  - latitude
  - housing_median_age
  - total_rooms
  - total_bedrooms
  - population
  - households
  - median_income
  - median_house_value
  - ocean_proximity
- Change all columns to a float data type except for the `ocean_proximity` column.  The `ocean_proximity` column should remain a string/object data type (do not update this to a categorical data type since that will be done later when working with the module data).
- Reset the DataFrame index so that it goes from `0` to `n-1`, where `n` is the number of rows in your DataFrame

In [1]:
# standard imports
import pandas as pd
import numpy as np

# Do not change this option; This allows the CodeGrade auto grading to function correctly
pd.set_option('display.max_columns', 20)

In [2]:
# View and merge data using outer join so I keep all of the data. 

# I have commented out code that was part of my process, but I would normally erase it after.

long_lat_df = pd.read_csv("long_lat.csv")
long_lat_df
ocean_proximity_df = pd.read_csv("ocean_proximity.csv")
ocean_proximity_df
cal_house_low_df = pd.read_csv("cal_housing_low.csv")
cal_house_low_df
cal_house_med_df = pd.read_csv("cal_housing_medium.csv")
cal_house_med_df
cal_house_high_df = pd.read_csv("cal_housing_high.csv")
cal_house_high_df

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome
0,1,CA,452.603,45.0,131.0,884.0,130.0,323.0,83252.0
1,2,CA,358.502,23.0,1108.0,7103.0,1141.0,2403.0,83014.0
2,3,CA,352.104,53.0,193.0,1468.0,180.0,500.0,72574.0
3,4,CA,341.300,55.0,236.0,1278.0,222.0,558.0,56431.0
4,5,CA,342.200,54.0,282.0,1628.0,262.0,568.0,38462.0
...,...,...,...,...,...,...,...,...,...
5155,21425,CA,276.501,8.0,756.0,4987.0,726.0,2513.0,69454.0
5156,21446,CA,310.004,11.0,514.0,1780.0,507.0,4481.0,14653.0
5157,21450,CA,286.002,17.0,317.0,1964.0,287.0,811.0,59629.0
5158,21452,CA,326.501,17.0,1022.0,6141.0,967.0,2557.0,42432.0
5159,21497,CA,275.003,40.0,69.0,355.0,71.0,240.0,28542.0

In [3]:
# MERGE
housinglocationdf = long_lat_df.merge(ocean_proximity_df, 
                              how = 'outer')
housinglocationdf

          id  longitude  latitude ocean_proximity
0          1    -122.23     37.88        NEAR BAY
1          2    -122.22     37.86        NEAR BAY
2          3    -122.24     37.85        NEAR BAY
3        122    -122.24     37.85        NEAR BAY
4        125    -122.24     37.85        NEAR BAY
...      ...        ...       ...             ...
21553  21553    -121.56     39.27          INLAND
21554  21555    -121.21     39.49          INLAND
21555  21556    -121.22     39.43          INLAND
21556  21557    -121.32     39.43          INLAND
21557  21558    -121.24     39.37          INLAND

[21558 rows x 4 columns]

In [4]:
housingdf1 = cal_house_low_df.merge(cal_house_med_df, how = 'outer', on = ['id', 'state', 'medianHouseValue', 'housingMedianAge', 
                'totalBedrooms', 'totalRooms', 'households', 'population', 
                'medianIncome'])
housingdf1

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome
0,23,CA,113.903,NaN,543.0,2438.0,481.0,1016.0,17250.0
1,24,CA,99.701,56.0,337.0,1692.0,328.0,856.0,21806.0
2,26,CA,107.500,41.0,123.0,535.0,121.0,317.0,24038.0
3,27,CA,93.803,53.0,244.0,1132.0,241.0,607.0,24597.0
4,28,CA,105.504,52.0,423.0,1899.0,400.0,1104.0,18080.0
...,...,...,...,...,...,...,...,...,...
16393,21493,CA,193.800,14.0,247.0,1322.0,232.0,898.0,19327.0
16394,21494,CA,187.503,39.0,110.0,575.0,110.0,260.0,37500.0
16395,21500,CA,123.400,21.0,222.0,1142.0,213.0,463.0,31534.0
16396,21502,CA,137.503,35.0,78.0,374.0,88.0,208.0,38750.0
16397,21546,CA,162.500,5.0,66.0,362.0,61.0,173.0,30000.0

In [5]:
housingdf2 = housingdf1.merge(cal_house_high_df, how = 'outer', on = ['id', 'state', 'medianHouseValue', 'housingMedianAge', 
                'totalBedrooms', 'totalRooms', 'households', 'population', 
                'medianIncome'])
housingdf2

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome
0,23,CA,113.903,NaN,543.0,2438.0,481.0,1016.0,17250.0
1,24,CA,99.701,56.0,337.0,1692.0,328.0,856.0,21806.0
2,26,CA,107.500,41.0,123.0,535.0,121.0,317.0,24038.0
3,27,CA,93.803,53.0,244.0,1132.0,241.0,607.0,24597.0
4,28,CA,105.504,52.0,423.0,1899.0,400.0,1104.0,18080.0
...,...,...,...,...,...,...,...,...,...
21553,21425,CA,276.501,8.0,756.0,4987.0,726.0,2513.0,69454.0
21554,21446,CA,310.004,11.0,514.0,1780.0,507.0,4481.0,14653.0
21555,21450,CA,286.002,17.0,317.0,1964.0,287.0,811.0,59629.0
21556,21452,CA,326.501,17.0,1022.0,6141.0,967.0,2557.0,42432.0
21557,21497,CA,275.003,40.0,69.0,355.0,71.0,240.0,28542.0

In [6]:
housingdf3 = housingdf2.merge(housinglocationdf, how = 'outer', on = ['id'])
housingdf3

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,23,CA,113.903,NaN,543.0,2438.0,481.0,1016.0,17250.0,-122.27,37.84,NEAR BAY
1,24,CA,99.701,56.0,337.0,1692.0,328.0,856.0,21806.0,-122.27,37.84,NEAR BAY
2,26,CA,107.500,41.0,123.0,535.0,121.0,317.0,24038.0,-122.28,37.85,NEAR BAY
3,27,CA,93.803,53.0,244.0,1132.0,241.0,607.0,24597.0,-122.28,37.85,NEAR BAY
4,28,CA,105.504,52.0,423.0,1899.0,400.0,1104.0,18080.0,-122.28,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...,...
21553,21425,CA,276.501,8.0,756.0,4987.0,726.0,2513.0,69454.0,-118.73,34.29,<1H OCEAN
21554,21446,CA,310.004,11.0,514.0,1780.0,507.0,4481.0,14653.0,-121.79,38.54,INLAND
21555,21450,CA,286.002,17.0,317.0,1964.0,287.0,811.0,59629.0,-121.81,38.58,INLAND
21556,21452,CA,326.501,17.0,1022.0,6141.0,967.0,2557.0,42432.0,-121.67,38.54,INLAND
21557,21497,CA,275.003,40.0,69.0,355.0,71.0,240.0,28542.0,-121.81,38.84,INLAND

In [7]:
# Eliminate redundant data

# Drop any rows with a missing value for the medianHouseValue column
housingdf3 = housingdf3.dropna(subset = ['medianHouseValue'])
housingdf3

,id,state,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,23,CA,113.903,NaN,543.0,2438.0,481.0,1016.0,17250.0,-122.27,37.84,NEAR BAY
1,24,CA,99.701,56.0,337.0,1692.0,328.0,856.0,21806.0,-122.27,37.84,NEAR BAY
2,26,CA,107.500,41.0,123.0,535.0,121.0,317.0,24038.0,-122.28,37.85,NEAR BAY
3,27,CA,93.803,53.0,244.0,1132.0,241.0,607.0,24597.0,-122.28,37.85,NEAR BAY
4,28,CA,105.504,52.0,423.0,1899.0,400.0,1104.0,18080.0,-122.28,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...,...
21553,21425,CA,276.501,8.0,756.0,4987.0,726.0,2513.0,69454.0,-118.73,34.29,<1H OCEAN
21554,21446,CA,310.004,11.0,514.0,1780.0,507.0,4481.0,14653.0,-121.79,38.54,INLAND
21555,21450,CA,286.002,17.0,317.0,1964.0,287.0,811.0,59629.0,-121.81,38.58,INLAND
21556,21452,CA,326.501,17.0,1022.0,6141.0,967.0,2557.0,42432.0,-121.67,38.54,INLAND
21557,21497,CA,275.003,40.0,69.0,355.0,71.0,240.0,28542.0,-121.81,38.84,INLAND

In [8]:
# Drop the state column since it doesn't offer any added value
housingdf3 = housingdf3.drop(columns = ['state'], axis = 1)
housingdf3

,id,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,23,113.903,NaN,543.0,2438.0,481.0,1016.0,17250.0,-122.27,37.84,NEAR BAY
1,24,99.701,56.0,337.0,1692.0,328.0,856.0,21806.0,-122.27,37.84,NEAR BAY
2,26,107.500,41.0,123.0,535.0,121.0,317.0,24038.0,-122.28,37.85,NEAR BAY
3,27,93.803,53.0,244.0,1132.0,241.0,607.0,24597.0,-122.28,37.85,NEAR BAY
4,28,105.504,52.0,423.0,1899.0,400.0,1104.0,18080.0,-122.28,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
21553,21425,276.501,8.0,756.0,4987.0,726.0,2513.0,69454.0,-118.73,34.29,<1H OCEAN
21554,21446,310.004,11.0,514.0,1780.0,507.0,4481.0,14653.0,-121.79,38.54,INLAND
21555,21450,286.002,17.0,317.0,1964.0,287.0,811.0,59629.0,-121.81,38.58,INLAND
21556,21452,326.501,17.0,1022.0,6141.0,967.0,2557.0,42432.0,-121.67,38.54,INLAND
21557,21497,275.003,40.0,69.0,355.0,71.0,240.0,28542.0,-121.81,38.84,INLAND

In [9]:
# Fill any rows with a missing value for the housingMedianAge column with the median value for that column

housingdf3['housingMedianAge'] = housingdf3['housingMedianAge'].fillna(housingdf3['housingMedianAge'].median())
housingdf3

,id,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,23,113.903,31.0,543.0,2438.0,481.0,1016.0,17250.0,-122.27,37.84,NEAR BAY
1,24,99.701,56.0,337.0,1692.0,328.0,856.0,21806.0,-122.27,37.84,NEAR BAY
2,26,107.500,41.0,123.0,535.0,121.0,317.0,24038.0,-122.28,37.85,NEAR BAY
3,27,93.803,53.0,244.0,1132.0,241.0,607.0,24597.0,-122.28,37.85,NEAR BAY
4,28,105.504,52.0,423.0,1899.0,400.0,1104.0,18080.0,-122.28,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
21553,21425,276.501,8.0,756.0,4987.0,726.0,2513.0,69454.0,-118.73,34.29,<1H OCEAN
21554,21446,310.004,11.0,514.0,1780.0,507.0,4481.0,14653.0,-121.79,38.54,INLAND
21555,21450,286.002,17.0,317.0,1964.0,287.0,811.0,59629.0,-121.81,38.58,INLAND
21556,21452,326.501,17.0,1022.0,6141.0,967.0,2557.0,42432.0,-121.67,38.54,INLAND
21557,21497,275.003,40.0,69.0,355.0,71.0,240.0,28542.0,-121.81,38.84,INLAND

In [10]:
# Scale some of the data

# Scale the medianIncome to express the values in $10,000 of dollars 
# (example: 150000 will become 15, 30000 will become 3, 15000 will become 1.5, etc)
housingdf3['medianIncome'] = housingdf3['medianIncome'].multiply(.0001)
housingdf3

,id,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,23,113.903,31.0,543.0,2438.0,481.0,1016.0,1.7250,-122.27,37.84,NEAR BAY
1,24,99.701,56.0,337.0,1692.0,328.0,856.0,2.1806,-122.27,37.84,NEAR BAY
2,26,107.500,41.0,123.0,535.0,121.0,317.0,2.4038,-122.28,37.85,NEAR BAY
3,27,93.803,53.0,244.0,1132.0,241.0,607.0,2.4597,-122.28,37.85,NEAR BAY
4,28,105.504,52.0,423.0,1899.0,400.0,1104.0,1.8080,-122.28,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
21553,21425,276.501,8.0,756.0,4987.0,726.0,2513.0,6.9454,-118.73,34.29,<1H OCEAN
21554,21446,310.004,11.0,514.0,1780.0,507.0,4481.0,1.4653,-121.79,38.54,INLAND
21555,21450,286.002,17.0,317.0,1964.0,287.0,811.0,5.9629,-121.81,38.58,INLAND
21556,21452,326.501,17.0,1022.0,6141.0,967.0,2557.0,4.2432,-121.67,38.54,INLAND
21557,21497,275.003,40.0,69.0,355.0,71.0,240.0,2.8542,-121.81,38.84,INLAND

In [11]:
# Revert the medianHouseValue back to actual dollars (example: 150 will become 150000, 300 will become 300000, etc)
housingdf3['medianHouseValue'] = housingdf3['medianHouseValue'].multiply(1000)
housingdf3

,id,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,23,113903.0,31.0,543.0,2438.0,481.0,1016.0,1.7250,-122.27,37.84,NEAR BAY
1,24,99701.0,56.0,337.0,1692.0,328.0,856.0,2.1806,-122.27,37.84,NEAR BAY
2,26,107500.0,41.0,123.0,535.0,121.0,317.0,2.4038,-122.28,37.85,NEAR BAY
3,27,93803.0,53.0,244.0,1132.0,241.0,607.0,2.4597,-122.28,37.85,NEAR BAY
4,28,105504.0,52.0,423.0,1899.0,400.0,1104.0,1.8080,-122.28,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
21553,21425,276501.0,8.0,756.0,4987.0,726.0,2513.0,6.9454,-118.73,34.29,<1H OCEAN
21554,21446,310004.0,11.0,514.0,1780.0,507.0,4481.0,1.4653,-121.79,38.54,INLAND
21555,21450,286002.0,17.0,317.0,1964.0,287.0,811.0,5.9629,-121.81,38.58,INLAND
21556,21452,326501.0,17.0,1022.0,6141.0,967.0,2557.0,4.2432,-121.67,38.54,INLAND
21557,21497,275003.0,40.0,69.0,355.0,71.0,240.0,2.8542,-121.81,38.84,INLAND

In [12]:
# In your textbook, it discusses that the median income values have been capped on both the lower and upper ends. 
# In order to recreate this data, change any values in the medianIncome column that are 0.4999 or lower to 0.4999 
# and change any values that are 15.0001 and higher to 15.0001. This step should be done after the previous step. 

housingdf3['medianIncome'] = housingdf3['medianIncome'].apply(lambda x: 15.0001 if x >= 15.0001 else x)
housingdf3

,id,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,23,113903.0,31.0,543.0,2438.0,481.0,1016.0,1.7250,-122.27,37.84,NEAR BAY
1,24,99701.0,56.0,337.0,1692.0,328.0,856.0,2.1806,-122.27,37.84,NEAR BAY
2,26,107500.0,41.0,123.0,535.0,121.0,317.0,2.4038,-122.28,37.85,NEAR BAY
3,27,93803.0,53.0,244.0,1132.0,241.0,607.0,2.4597,-122.28,37.85,NEAR BAY
4,28,105504.0,52.0,423.0,1899.0,400.0,1104.0,1.8080,-122.28,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
21553,21425,276501.0,8.0,756.0,4987.0,726.0,2513.0,6.9454,-118.73,34.29,<1H OCEAN
21554,21446,310004.0,11.0,514.0,1780.0,507.0,4481.0,1.4653,-121.79,38.54,INLAND
21555,21450,286002.0,17.0,317.0,1964.0,287.0,811.0,5.9629,-121.81,38.58,INLAND
21556,21452,326501.0,17.0,1022.0,6141.0,967.0,2557.0,4.2432,-121.67,38.54,INLAND
21557,21497,275003.0,40.0,69.0,355.0,71.0,240.0,2.8542,-121.81,38.84,INLAND

In [13]:
housingdf3['medianIncome'] = housingdf3['medianIncome'].apply(lambda x: 0.4999 if x <= 0.4999 else x)
housingdf3

,id,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
0,23,113903.0,31.0,543.0,2438.0,481.0,1016.0,1.7250,-122.27,37.84,NEAR BAY
1,24,99701.0,56.0,337.0,1692.0,328.0,856.0,2.1806,-122.27,37.84,NEAR BAY
2,26,107500.0,41.0,123.0,535.0,121.0,317.0,2.4038,-122.28,37.85,NEAR BAY
3,27,93803.0,53.0,244.0,1132.0,241.0,607.0,2.4597,-122.28,37.85,NEAR BAY
4,28,105504.0,52.0,423.0,1899.0,400.0,1104.0,1.8080,-122.28,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
21553,21425,276501.0,8.0,756.0,4987.0,726.0,2513.0,6.9454,-118.73,34.29,<1H OCEAN
21554,21446,310004.0,11.0,514.0,1780.0,507.0,4481.0,1.4653,-121.79,38.54,INLAND
21555,21450,286002.0,17.0,317.0,1964.0,287.0,811.0,5.9629,-121.81,38.58,INLAND
21556,21452,326501.0,17.0,1022.0,6141.0,967.0,2557.0,4.2432,-121.67,38.54,INLAND
21557,21497,275003.0,40.0,69.0,355.0,71.0,240.0,2.8542,-121.81,38.84,INLAND

In [14]:
# Sort by 'id'

# Sort the final housing DataFrame by id in ascending order
housingdf3 = housingdf3.sort_values(['id'])
housingdf3

,id,medianHouseValue,housingMedianAge,totalBedrooms,totalRooms,households,population,medianIncome,longitude,latitude,ocean_proximity
16398,1,452603.0,45.0,131.0,884.0,130.0,323.0,8.3252,-122.23,37.88,NEAR BAY
16399,2,358502.0,23.0,1108.0,7103.0,1141.0,2403.0,8.3014,-122.22,37.86,NEAR BAY
16400,3,352104.0,53.0,193.0,1468.0,180.0,500.0,7.2574,-122.24,37.85,NEAR BAY
16401,4,341300.0,55.0,236.0,1278.0,222.0,558.0,5.6431,-122.25,37.85,NEAR BAY
16402,5,342200.0,54.0,282.0,1628.0,262.0,568.0,3.8462,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
6069,21554,78101.0,28.0,374.0,1665.0,332.0,847.0,1.5603,-121.09,39.48,INLAND
6070,21555,77102.0,18.0,154.0,701.0,114.0,360.0,2.5568,-121.21,39.49,INLAND
6071,21556,92301.0,19.0,488.0,2257.0,437.0,1007.0,1.7000,-121.22,39.43,INLAND
6072,21557,84701.0,21.0,412.0,1864.0,349.0,744.0,1.8672,-121.32,39.43,INLAND
6073,21558,89401.0,18.0,616.0,2787.0,532.0,1387.0,2.3886,-121.24,39.37,INLAND

In [15]:
# Change column names

# Update the column names and column order as shown below to match the data from the module:
# longitude
# latitude
# housing_median_age
# total_rooms
# total_bedrooms
# population
# households
# median_income
# median_house_value
# ocean_proximity

housingdf3 = housingdf3.rename(columns = {'id': '', 'medianHouseValue': 'median_house_value', 
                                              'housingMedianAge': 'housing_median_age', 
                                              'totalBedrooms': 'total_bedrooms', 
                                              'totalRooms': 'total_rooms', 
                                              'medianIncome': 'median_income'})
housingdf3

,,median_house_value,housing_median_age,total_bedrooms,total_rooms,households,population,median_income,longitude,latitude,ocean_proximity
16398,1,452603.0,45.0,131.0,884.0,130.0,323.0,8.3252,-122.23,37.88,NEAR BAY
16399,2,358502.0,23.0,1108.0,7103.0,1141.0,2403.0,8.3014,-122.22,37.86,NEAR BAY
16400,3,352104.0,53.0,193.0,1468.0,180.0,500.0,7.2574,-122.24,37.85,NEAR BAY
16401,4,341300.0,55.0,236.0,1278.0,222.0,558.0,5.6431,-122.25,37.85,NEAR BAY
16402,5,342200.0,54.0,282.0,1628.0,262.0,568.0,3.8462,-122.25,37.85,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
6069,21554,78101.0,28.0,374.0,1665.0,332.0,847.0,1.5603,-121.09,39.48,INLAND
6070,21555,77102.0,18.0,154.0,701.0,114.0,360.0,2.5568,-121.21,39.49,INLAND
6071,21556,92301.0,19.0,488.0,2257.0,437.0,1007.0,1.7000,-121.22,39.43,INLAND
6072,21557,84701.0,21.0,412.0,1864.0,349.0,744.0,1.8672,-121.32,39.43,INLAND
6073,21558,89401.0,18.0,616.0,2787.0,532.0,1387.0,2.3886,-121.24,39.37,INLAND

In [16]:
housingdf3 = housingdf3.reindex(['', 'longitude','latitude','housing_median_age',
                                       'total_rooms' , 'total_bedrooms', 'population',
                                       'households', 'median_income', 'median_house_value', 
                                       'ocean_proximity'], axis=1)
housingdf3

,,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
16398,1,-122.23,37.88,45.0,884.0,131.0,323.0,130.0,8.3252,452603.0,NEAR BAY
16399,2,-122.22,37.86,23.0,7103.0,1108.0,2403.0,1141.0,8.3014,358502.0,NEAR BAY
16400,3,-122.24,37.85,53.0,1468.0,193.0,500.0,180.0,7.2574,352104.0,NEAR BAY
16401,4,-122.25,37.85,55.0,1278.0,236.0,558.0,222.0,5.6431,341300.0,NEAR BAY
16402,5,-122.25,37.85,54.0,1628.0,282.0,568.0,262.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...,...
6069,21554,-121.09,39.48,28.0,1665.0,374.0,847.0,332.0,1.5603,78101.0,INLAND
6070,21555,-121.21,39.49,18.0,701.0,154.0,360.0,114.0,2.5568,77102.0,INLAND
6071,21556,-121.22,39.43,19.0,2257.0,488.0,1007.0,437.0,1.7000,92301.0,INLAND
6072,21557,-121.32,39.43,21.0,1864.0,412.0,744.0,349.0,1.8672,84701.0,INLAND
6073,21558,-121.24,39.37,18.0,2787.0,616.0,1387.0,532.0,2.3886,89401.0,INLAND

In [17]:
housingdf3 = housingdf3.drop(columns = [''], axis = 1)
# housingdf3

In [18]:
# Change all columns to a float data type except for the ocean_proximity column. The ocean_proximity column should remain 
# a string/object data type (do not update this to a categorical data type since that will be done later when working with 
# the module data).

housingdf3 = housingdf3.astype({'longitude': 'float', 'latitude': 'float', 'housing_median_age': 'float',
                                      'total_rooms': 'float', 'total_bedrooms': 'float', 'population': 'float',
                                      'households': 'float', 'median_income': 'float', 'median_house_value': 'float', 
                                      'ocean_proximity': 'object'})
housingdf3

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
16398,-122.23,37.88,45.0,884.0,131.0,323.0,130.0,8.3252,452603.0,NEAR BAY
16399,-122.22,37.86,23.0,7103.0,1108.0,2403.0,1141.0,8.3014,358502.0,NEAR BAY
16400,-122.24,37.85,53.0,1468.0,193.0,500.0,180.0,7.2574,352104.0,NEAR BAY
16401,-122.25,37.85,55.0,1278.0,236.0,558.0,222.0,5.6431,341300.0,NEAR BAY
16402,-122.25,37.85,54.0,1628.0,282.0,568.0,262.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
6069,-121.09,39.48,28.0,1665.0,374.0,847.0,332.0,1.5603,78101.0,INLAND
6070,-121.21,39.49,18.0,701.0,154.0,360.0,114.0,2.5568,77102.0,INLAND
6071,-121.22,39.43,19.0,2257.0,488.0,1007.0,437.0,1.7000,92301.0,INLAND
6072,-121.32,39.43,21.0,1864.0,412.0,744.0,349.0,1.8672,84701.0,INLAND
6073,-121.24,39.37,18.0,2787.0,616.0,1387.0,532.0,2.3886,89401.0,INLAND

In [19]:
# Index again!

# Reset the DataFrame index so that it goes from 0 to n-1, where n is the number of rows in your DataFrame
housing = housingdf3.reset_index(drop = True)
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,45.0,884.0,131.0,323.0,130.0,8.3252,452603.0,NEAR BAY
1,-122.22,37.86,23.0,7103.0,1108.0,2403.0,1141.0,8.3014,358502.0,NEAR BAY
2,-122.24,37.85,53.0,1468.0,193.0,500.0,180.0,7.2574,352104.0,NEAR BAY
3,-122.25,37.85,55.0,1278.0,236.0,558.0,222.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,54.0,1628.0,282.0,568.0,262.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,28.0,1665.0,374.0,847.0,332.0,1.5603,78101.0,INLAND
20636,-121.21,39.49,18.0,701.0,154.0,360.0,114.0,2.5568,77102.0,INLAND
20637,-121.22,39.43,19.0,2257.0,488.0,1007.0,437.0,1.7000,92301.0,INLAND
20638,-121.32,39.43,21.0,1864.0,412.0,744.0,349.0,1.8672,84701.0,INLAND
20639,-121.24,39.37,18.0,2787.0,616.0,1387.0,532.0,2.3886,89401.0,INLAND